<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="logo">
      <img src="<%= image_url 'remindme.png' %>" />
    </div>
    <h1>This is a Friendly Reminder</h1>
      <p>Hello <%= @user.first_name %>!</p>
      <p> <%= @notification.message %></p>
      <p>Have a great day and thank you for all your hard work!</p>
  </body>
</html>
