<div class="content-wrapper">
  <div class="container">
    <h4 class="page-head-line">Update Reminder</h4>
      <div class="col-xs-12">

        <%= render 'form' %>

        <%= link_to 'Show', @event %> |
        <%= link_to 'Back', events_path %>

      </div>
    </div>
  </div>
</div>
